body {
  font-family: sans-serif;
}




/*----------NAVIGATION RESPONS & STYLING---------*/
.menu-bar {
    display: none;
}

.menu-toggle:checked + .hamburger + .menu-bar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-toggle {
   position: absolute;
    opacity: 0;
    pointer-events: none;
}

/*----------NAVIGATION RESPONS & STYLING-- END-------*/




@media screen and (min-width: 960px) {

/*----------NAVIGATION RESPONS & STYLING---------*/
  .hamburger {
     display: none;
  }

  .menu-bar {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
     list-style: none;
     margin: 0;
     padding: 0;
  }

  .menu-toggle:checked + .hamburger + .menu-bar {
     display: flex !important;
     flex-direction: row !important;
     gap: 0 !important;
  }

  .search-box form {
     display: flex;
     align-items: center;
     gap: 6px;
  }
/*----------NAVIGATION RESPONS & STYLING-- END-------*/

}

